[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
forks = 20
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o BatchMode=yes -o ConnectTimeout=15
